<section class="section-video">
  <div class="container">
    <div class="section-wrap">
      <div class="video-detail-section">
        <iframe width="780" height="440" id="mainVideo" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3 id="videoTitle"></h3>
        <div class="description" id="videoDescription"></div>
        <div class="video-status" id="videoStatusMain"></div>
      </div>
      <div class="video-tab-section" id="videoTabsContainer"></div>
    </div>
  </div>
</section>