.footer {
    position: relative;
    background: #ED5565;
    color: #F5F7FA;
    min-height: 12rem;
    overflow: hidden;
}

.footer .bubbles {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    background: #ED5565;
    filter: url("#blob");
}

.footer .bubble {
    position: absolute;
    left: var(--position);
    width: var(--size);
    height: var(--size);
    background: #ED5565;
    border-radius: 50%;
    transform: translateX(-50%);
    animation:
        bubble-size var(--time) ease-in infinite var(--delay),
        bubble-move var(--time) ease-in infinite var(--delay);
}

.footer .content {
    position: relative;
    z-index: 2;
    padding: 40px 20px;
    text-align: center;
}

@keyframes bubble-size {
    0%, 75% {
        width: var(--size);
        height: var(--size);
    }
    100% {
        width: 0;
        height: 0;
    }
}

.footer {
    height: 200px;
}

@keyframes bubble-move {
    0% { top: 100%; }
    100% { top: -10rem; }
}