<header>
    <div class="container navbar">
        <div class="logo-box">
            <img src="assets/images/logo.jpg" class="logo-img" alt="Logo">
            <div class="logo-text">
                <h1>GlobalLingua Academy</h1>
            </div>
        </div>

        <div class="nav-actions">
            <button class="btn lang-btn active">EN</button>
            <button class="btn lang-btn">DE</button>
            <button class="btn lang-btn">PL</button>
        </div>
    </div>
</header>